<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,385}</string>
                <key>spriteSourceSize</key>
                <string>{230,385}</string>
                <key>textureRect</key>
                <string>{{0,0},{230,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,385}</string>
                <key>spriteSourceSize</key>
                <string>{230,385}</string>
                <key>textureRect</key>
                <string>{{230,0},{230,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,385}</string>
                <key>spriteSourceSize</key>
                <string>{230,385}</string>
                <key>textureRect</key>
                <string>{{460,0},{230,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,385}</string>
                <key>spriteSourceSize</key>
                <string>{230,385}</string>
                <key>textureRect</key>
                <string>{{690,0},{230,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,385}</string>
                <key>spriteSourceSize</key>
                <string>{230,385}</string>
                <key>textureRect</key>
                <string>{{0,385},{230,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,385}</string>
                <key>spriteSourceSize</key>
                <string>{230,385}</string>
                <key>textureRect</key>
                <string>{{230,385},{230,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,385}</string>
                <key>spriteSourceSize</key>
                <string>{230,385}</string>
                <key>textureRect</key>
                <string>{{460,385},{230,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,385}</string>
                <key>spriteSourceSize</key>
                <string>{230,385}</string>
                <key>textureRect</key>
                <string>{{690,385},{230,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,385}</string>
                <key>spriteSourceSize</key>
                <string>{230,385}</string>
                <key>textureRect</key>
                <string>{{0,770},{230,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,385}</string>
                <key>spriteSourceSize</key>
                <string>{230,385}</string>
                <key>textureRect</key>
                <string>{{230,770},{230,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,385}</string>
                <key>spriteSourceSize</key>
                <string>{230,385}</string>
                <key>textureRect</key>
                <string>{{460,770},{230,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,385}</string>
                <key>spriteSourceSize</key>
                <string>{230,385}</string>
                <key>textureRect</key>
                <string>{{690,770},{230,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cardShan.png</string>
            <key>size</key>
            <string>{920,1155}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96adbe3acd528455daa885f245df6b4d:d5a71c37fdb14c7f533b336eeeae6a5c:115c7759ea4b998386e3311852e6314a$</string>
            <key>textureFileName</key>
            <string>cardShan.png</string>
        </dict>
    </dict>
</plist>
