<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>card_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,413},{34,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,52}}</string>
				<key>sourceSize</key>
				<string>{34,52}</string>
			</dict>

			<key>card_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,943},{62,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,52}}</string>
				<key>sourceSize</key>
				<string>{62,52}</string>
			</dict>

			<key>card_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,0},{34,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,52}}</string>
				<key>sourceSize</key>
				<string>{34,52}</string>
			</dict>

			<key>card_11_bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,251},{87,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,123}}</string>
				<key>sourceSize</key>
				<string>{87,123}</string>
			</dict>

			<key>card_11_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,893},{89,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,126}}</string>
				<key>sourceSize</key>
				<string>{89,126}</string>
			</dict>

			<key>card_11_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,893},{89,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,126}}</string>
				<key>sourceSize</key>
				<string>{89,126}</string>
			</dict>

			<key>card_11_tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,402},{88,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,122}}</string>
				<key>sourceSize</key>
				<string>{88,122}</string>
			</dict>

			<key>card_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,212},{34,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,53}}</string>
				<key>sourceSize</key>
				<string>{34,53}</string>
			</dict>

			<key>card_12_bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,402},{96,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,122}}</string>
				<key>sourceSize</key>
				<string>{96,122}</string>
			</dict>

			<key>card_12_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,769},{95,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,123}}</string>
				<key>sourceSize</key>
				<string>{95,123}</string>
			</dict>

			<key>card_12_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,525},{95,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,119}}</string>
				<key>sourceSize</key>
				<string>{95,119}</string>
			</dict>

			<key>card_12_tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,645},{95,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,123}}</string>
				<key>sourceSize</key>
				<string>{95,123}</string>
			</dict>

			<key>card_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,53},{34,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,52}}</string>
				<key>sourceSize</key>
				<string>{34,52}</string>
			</dict>

			<key>card_13_bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,0},{87,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,122}}</string>
				<key>sourceSize</key>
				<string>{87,122}</string>
			</dict>

			<key>card_13_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,525},{88,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,123}}</string>
				<key>sourceSize</key>
				<string>{88,123}</string>
			</dict>

			<key>card_13_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,525},{85,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,122}}</string>
				<key>sourceSize</key>
				<string>{85,122}</string>
			</dict>

			<key>card_13_tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,123},{87,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,127}}</string>
				<key>sourceSize</key>
				<string>{87,127}</string>
			</dict>

			<key>card_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,372},{34,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,51}}</string>
				<key>sourceSize</key>
				<string>{34,51}</string>
			</dict>

			<key>card_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,413},{36,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,52}}</string>
				<key>sourceSize</key>
				<string>{36,52}</string>
			</dict>

			<key>card_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,943},{34,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,52}}</string>
				<key>sourceSize</key>
				<string>{34,52}</string>
			</dict>

			<key>card_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,466},{35,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,52}}</string>
				<key>sourceSize</key>
				<string>{35,52}</string>
			</dict>

			<key>card_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,266},{34,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,52}}</string>
				<key>sourceSize</key>
				<string>{34,52}</string>
			</dict>

			<key>card_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,319},{34,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,52}}</string>
				<key>sourceSize</key>
				<string>{34,52}</string>
			</dict>

			<key>card_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,159},{34,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,52}}</string>
				<key>sourceSize</key>
				<string>{34,52}</string>
			</dict>

			<key>card_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,106},{34,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,52}}</string>
				<key>sourceSize</key>
				<string>{34,52}</string>
			</dict>

			<key>card_back_red1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{149,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,200}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>

			<key>card_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,201},{149,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,200}}</string>
				<key>sourceSize</key>
				<string>{149,200}</string>
			</dict>

			<key>card_bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,775},{77,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,81}}</string>
				<key>sourceSize</key>
				<string>{77,81}</string>
			</dict>

			<key>card_bich_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,375},{33,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,36}}</string>
				<key>sourceSize</key>
				<string>{33,36}</string>
			</dict>

			<key>card_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,861},{86,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,81}}</string>
				<key>sourceSize</key>
				<string>{86,81}</string>
			</dict>

			<key>card_co_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,730},{40,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,36}}</string>
				<key>sourceSize</key>
				<string>{40,37}</string>
			</dict>

			<key>card_joker.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,649},{88,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,125}}</string>
				<key>sourceSize</key>
				<string>{88,125}</string>
			</dict>

			<key>card_joker_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,648},{15,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{15,148}}</string>
				<key>sourceSize</key>
				<string>{15,148}</string>
			</dict>

			<key>card_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,775},{86,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,85}}</string>
				<key>sourceSize</key>
				<string>{86,85}</string>
			</dict>

			<key>card_ro_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,375},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,37}}</string>
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>

			<key>card_tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,648},{75,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,81}}</string>
				<key>sourceSize</key>
				<string>{75,81}</string>
			</dict>

			<key>card_tep_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,466},{35,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,38}}</string>
				<key>sourceSize</key>
				<string>{35,38}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>playcard.png</string>
			</dict>
		</dict>
</plist>